{namespace w4=W4Services\W4Cookiebar\ViewHelpers}

<div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">

    <f:if condition="{data.w4_cookiebar_wrapper_options} == 'marketing'" >
        <div class="cookie-conditional-marketing" xmlns:f="http://www.w3.org/1999/html">
            <div class="marketing-content"></div>
            <div class="gdpr-hint-wrapper">
                <f:comment>render the "background" image</f:comment>
                <f:for each="{files}" as="image">
                    <f:image image="{image}" alt="" />
                </f:for>
                <f:comment>render the popup</f:comment>
                <div class="gdpr-hint">
                    <p><f:format.raw><f:translate key="LLL:EXT:w4_cookiebar/Resources/Private/Language/locallang.xlf:w4_cookiebar.conditional_marketing.popup_text" /></f:format.raw></p>
                    <a class="btn btn-blue" id="accept-marketing">
                        <f:translate key="LLL:EXT:w4_cookiebar/Resources/Private/Language/locallang.xlf:w4_cookiebar.conditional_marketing.popup_button" />
                    </a>
                </div>
            </div>
            <f:comment>render the HTML source code</f:comment>
            <!-- BEGIN Marketing -->
            <script>
                document.addEventListener("DOMContentLoaded",function () <f:format.raw value="{" />
                    var marketingLoaded = false;
                    var f{data.uid} = function() <f:format.raw value="{" />
                        if (document.cookie.indexOf('{cookieKey}_cookiebar_v2_a') >= 0 && !marketingLoaded) <f:format.raw value="{" />
                            marketingLoaded = true;
                            jQuery('#c{data.uid} .cookie-conditional-marketing > .marketing-content').html(
                                '{data.bodytext -> f:format.raw()}'
                            );
                            jQuery('.cookie-conditional-marketing > .gdpr-hint-wrapper').hide();
                        }
                        document.dispatchEvent(
                            new Event(
                                '{cookieKey}_cookiebar_v2_dismissed'
                            )
                        );
                    };
                    f{data.uid}();
                    jQuery('html').on('{cookieKey}_cookiebar_v2_dismissed', f{data.uid});
                    jQuery('#accept-marketing').on('click', function() <f:format.raw value="{" />
                        setTimeout(function() <f:format.raw value="{" />
                            f{data.uid}();
                        }, 1000);
                    });
                }, false);
            </script>
            <!-- END Marketing -->
        </div>
    </f:if>

    <f:if condition="{data.w4_cookiebar_wrapper_options} == 'maps'" >
        <div class="cookie-conditional-google-maps" xmlns:f="http://www.w3.org/1999/html">
            <div class="maps-content"></div>
            <div class="gdpr-hint-wrapper">
                <f:comment>render the "background" image</f:comment>
                <f:for each="{files}" as="image">
                    <f:image image="{image}" alt="google maps" />
                </f:for>
                <f:comment>render the popup</f:comment>
                <div class="gdpr-hint">
                    <p><f:format.raw><f:translate key="LLL:EXT:w4_cookiebar/Resources/Private/Language/locallang.xlf:w4_cookiebar.conditional_google_maps.popup_text" /></f:format.raw></p>
                    <a class="btn btn-blue" id="accept-google-maps">
                        <f:translate key="LLL:EXT:w4_cookiebar/Resources/Private/Language/locallang.xlf:w4_cookiebar.conditional_google_maps.popup_button" />
                    </a>
                </div>
            </div>
            <f:comment>render the HTML source code</f:comment>
            <!-- BEGIN Google Maps -->
            <script>
                document.addEventListener("DOMContentLoaded",function () <f:format.raw value="{" />
                    var mapsLoaded = false;
                    var f{data.uid} = function() <f:format.raw value="{" />
                        if (document.cookie.indexOf('{cookieKey}_cookiebar_v2_m') >= 0 && !mapsLoaded) <f:format.raw value="{" />
                            mapsLoaded = true;
                            jQuery('#c{data.uid} .cookie-conditional-google-maps > .maps-content').html(
                                '{data.bodytext -> f:format.raw()}'
                            );
                            jQuery('.cookie-conditional-google-maps > .gdpr-hint-wrapper').hide();
                        }
                        document.dispatchEvent(
                            new Event(
                                '{cookieKey}_cookiebar_v2_dismissed'
                            )
                        );
                    };
                    f{data.uid}();
                    jQuery('html').on('{cookieKey}_cookiebar_v2_dismissed', f{data.uid});
                    jQuery('#accept-google-maps').on('click', function() <f:format.raw value="{" />
                        setTimeout(function() <f:format.raw value="{" />
                            f{data.uid}();
                        }, 1000);
                    });
                }, false);
            </script>
            <!-- END Google Maps -->
        </div>
    </f:if>

</div> 
