<f:layout name="Default"/>

<f:section name="ContentRow">

    <div id="cookie_bar_v2_content" class="row row-without-maps">
        <div class="col-12 col-sm-4 col">
            <f:render partial="Banner/ContentDataPrivacy" arguments="{_all}" />
        </div>
        <div class="col-12 col-sm-4 col">
            <f:render partial="Banner/ContentAnalytics" arguments="{_all}" />
        </div>
        <div class="col-12 col-sm-4 col">
            <f:render partial="Banner/ContentCookieInfo" arguments="{_all}" />
        </div>
    </div>

</f:section>
